@define-color primary #a0cafd;
@define-color surface #101418;
@define-color on_surface #e1e2e8;

@define-color notification_bg rgba(16, 20, 24, 0.8);
@define-color bar_border rgba(160, 202, 253, 0.4);


