@import "../../.config/waybar/colors.css";

window {
    background-color: rgba(12, 12, 12, 0.9);
}

button {
    color: #FFFFFF;
    background-color: #1E1E1E;
    border-style: solid;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus, button:active, button:hover {
    background-color: #3700B3;
    outline-style: none;
}
